<div class="browser-page">
  <app-header></app-header>
  <div class="banner">
    <img class="banner-img" src="https://cdn.vox-cdn.com/thumbor/cKNo8YybBSy-hFCoKL2WTtJmeKU=/0x0:2880x1528/1400x788/filters:focal(1440x764:1441x765)/cdn.vox-cdn.com/uploads/chorus_asset/file/23951611/Screen_Shot_2022_08_17_at_12.53.08_PM.png" alt="">

    <div class="banner-movie-info">
      <h4>Movie Title</h4>
      <p>movie description</p>
      <div>
        <button>Play</button>
        <button>More Info</button>
      </div>
    </div>
  </div>
  <div class="movie-categories">
   <app-movie-category [title]="'Popular'" [movieList] = "popularMovies"></app-movie-category>
   <app-movie-category [title]="'Top Rated'" [movieList] ="topratedMovies"></app-movie-category>
   <app-movie-category [title]="'Upcoming'" [movieList] = "upcomingMovies"></app-movie-category>
   <app-movie-category [title]="'Now Playing'" [movieList] ="nowplayingMovies"></app-movie-category>

  </div>
</div>