<div class="browser-page">
  <app-header></app-header>
  <div class="banner">
    @if(bannerMovie && bannerMovie.videoKey){

    <iframe class="banner-video" [src]="domSanitize.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/'+bannerMovie.videoKey+'?autoplay=1&loop=1&mute=1&showinfo=0&controls=0&modestbranding=1')" frameborder="0" allowfullscreen></iframe>
    }@else{
    <img class="banner-img" [src]="tmbdConfig.imgPath + bannerMovie.poster_path" alt="banner-image">

    }


    <div class="banner-movie-info text-white">
      <h4 class="banner-heading">{{bannerMovie.original_title}}</h4>
      <p class="banner-description">{{bannerMovie.overview}}</p>
      <div class="banner-action">
        <button class="play-btn">Play</button>
        <button class="info-btn">More Info</button>
      </div>
    </div>
  </div>
  <div class="movie-categories px-16 relative z-50 -mt-40">
    <app-movie-category [title]="'Popular'" [movieList]="popularMovies"></app-movie-category>
    <app-movie-category [title]="'Top Rated'" [movieList]="topratedMovies"></app-movie-category>
    <app-movie-category [title]="'Upcoming'" [movieList]="upcomingMovies"></app-movie-category>
    <app-movie-category [title]="'Now Playing'" [movieList]="nowplayingMovies"></app-movie-category>

  </div>
</div>